@font-face {
   font-family: 'GillSans';
   src: url(../fonts/GillSans.ttf);
}

@font-face {
   font-family: 'GillSansBold';
   src: url(../fonts/GillSans-Bold.ttf);
}

@font-face {
   font-family: 'GillSansItalic';
   src: url(../fonts/GillSans-Italic.ttf);
}

@font-face {
   font-family: 'GillSansBoldItalic';
   src: url(../fonts/GillSans-BoldItailc.ttf);
}

@font-face {
   font-family: 'GillSansLight';
   src: url(../fonts/GillSans-Light.ttf);
}

@font-face {
   font-family: 'GillSansLightItalic';
   src: url(../fonts/GillSans-LightItalic.ttf);
}

@font-face {
   font-family: 'GillSansUltraBold';
   src: url(../fonts/GillSans-UltraBold.ttf);
}

@font-face {
   font-family: 'GillSansSemiBold';
   src: url(../fonts/GillSans-SemiBold.ttf);
}

@font-face {
   font-family: 'GillSansSemiBoldItalic';
   src: url(../fonts/GillSans-SemiBoldItalic.ttf);
}

@font-face {
   font-family: 'ProximaNova';
   src: url(../fonts/Proxima_Nova_Reg.ttf);
}

@font-face {
   font-family: 'ProximaNovaEx';
   src: url(../fonts/Proxima-Nova-ExCn-Reg.otf);
}


@font-face {
   font-family: 'ProximaNovaThin';
   src: url(../fonts/Proxima-Nova-Thin.otf);
}